@media (max-width: 600px) {
  header {
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 1.8rem;
    }
    button {
      display: block !important;
      color: #2d9040;
      font-weight: bold;
      height: 32px;
      margin-right: 20px;
      border: 2px solid #2d9040;
      border-radius: 5px;
    }
  }
}

header {
  display: flex;
  min-height: 60px;
  box-shadow: 0px 0px 18px -11px;

  h1 {
    color: #2d9040;
    padding-left: 2rem;
    margin: 12px 0;
  }
  button {
    display: none;
  }
}
